<div class="card">
    <div class="card-header text-left">
        <h4>New Burgers</h4>
    </div>

    <div class="card-body">
        {{#each undevouredList}}
            <div>
                <p>{{id}}.) {{burger_name}}
                    <button class="btn btn-sm btn-dark m-1 devour-btn float-right"
                            data-burger="{{id}}">Devour it!
                    </button>
                </p>
            </div>
        {{/each }}
    </div>
</div>